<?xml version="1.0"?>
<config>
    <modules>
        <UltraDev_Checkout>
            <version>1.0.0</version>
        </UltraDev_Checkout>
    </modules>

    <global>
        <helpers>
            <ultradev_checkout>
                <class>UltraDev_Checkout_Helper</class>
            </ultradev_checkout>
        </helpers>
        <blocks>
            <ultradev_checkout>
                <class>UltraDev_Checkout_Block</class>
            </ultradev_checkout>
        </blocks>
        <models>
            <ultradev_checkout>
                <class>UltraDev_Checkout_Model</class>
            </ultradev_checkout>
        </models>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <ultradev_checkout_redirect>
                        <type>singleton</type>
                        <class>ultradev_checkout/observer</class>
                        <method>redirectToUltraCheckout</method>
                    </ultradev_checkout_redirect>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </global>

    <frontend>
        <routers>
            <ultradev_checkout>
                <use>standard</use>
                <args>
                    <module>UltraDev_Checkout</module>
                    <frontName>ultradev-checkout</frontName>
                </args>
            </ultradev_checkout>
        </routers>
        <layout>
            <updates>
                <ultradev_checkout>
                    <file>ultradev_checkout.xml</file>
                </ultradev_checkout>
            </updates>
        </layout>
        <translate>
            <modules>
                <UltraDev_Checkout>
                    <files>
                        <default>UltraDev_Checkout.csv</default>
                    </files>
                </UltraDev_Checkout>
            </translate>
        </translate>
    </frontend>

    <default>
        <ultradev_checkout>
            <general>
                <enabled>1</enabled>
            </general>
        </ultradev_checkout>
    </default>
</config>
